*{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
      background-color: #081b29; 
}
header{
      background-color:transparent;
      position:fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      padding :30px 20px;
      display: flex;
      justify-content:space-around;
      z-index: auto;
}
.arun_image{
      display: flex;
      align-items: center;
}
.arun_image img{
      height: 100px;
      width: 100px;
      border-radius:100%;
      border: 10px rgb(220, 232, 255);
}
.Gmail{
      color: chartreuse;
}

.navbar a{
      font-size: 20px;
      color:olivedrab;
      font-weight: 500;
      margin-left:20px;
      text-decoration: none;
      
}
.navbar a:hover,
.navbar a:active{
      color:aquamarine;
}
.Home{
      color:antiquewhite;
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 0 50px;
}
.Home-content{
      max-width:900px;
}
.Home-content h1{
      font-size: 56px;
      font-weight: 600;
}
.Home-content h2{
      font-weight: 200px;
      font-size: 28px;
      color: aqua;
}
.Home-content p{
      font-size: 16px;
      margin: 20px 0 40px;
      color:rgb(255, 0, 0);
}
.Home-content .btn-box{
      display: flex;
      justify-content:space-between;
      width: 550px;
      height: 60px;
      background:none;
}
.btn-box a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      background-color: aqua;
      border: 2px solid #bda0cb;
      border-radius: 8px;
      font-size: 25px;
      color: #081b29;
      text-decoration: none;
      font-weight: 900;
      letter-spacing: 1px;
      justify-content: space-between;
      margin:5px ;
}
.btn-box a:nth-child(2){
      background: transparent;
      color: aqua;
}
.btn-box a:nth-child(3){
      background-color: coral;
      color:crimson;
}
.btn-box a:nth-child(3):hover,
.btn-box a:nth-child(3):active{
      color: green;
}
.home-sci{
      position:absolute;
      bottom: 40px;
      width: 170px;
      display: flex;
      justify-content: space-between;
}
.home-sci a{
      position:relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background:transparent ;
      border: 2px solid #00abf0;
      border-radius: 50px;
      font-size:20px;
      color: #00abf0;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
}

